<ion-card class="chart-card">
  <ion-card-header>
    <ion-card-subtitle>{{ this.subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ this.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="indicator-container">
      <h1 class="current-indicator">
        {{ this.totalSales / this.effectiveVisits | currency }}
      </h1>
      <h1 class="goal-indicator">{{ this.dropGoal | currency }}</h1>
    </div>
    <ion-progress-bar
      class="indicator-progress-bar"
      [value]="this.totalSales / this.effectiveVisits / this.dropGoal"
    ></ion-progress-bar>
  </ion-card-content>
</ion-card>
