<ion-card class="chart-card">
  <ion-card-header>
    <ion-card-subtitle>{{ this.subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ this.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="indicator-container">
      <h1 class="current-indicator">
        {{
          this.userIndicators.effectiveVisits / this.userIndicators.totalVisits
            | percent
        }}
      </h1>
      <h1 class="goal-indicator">{{ this.effectiveVisitGoal | percent }}</h1>
    </div>
    <ion-progress-bar
      class="indicator-progress-bar"
      [value]="
        this.userIndicators.effectiveVisits /
        this.userIndicators.totalVisits /
        this.effectiveVisitGoal
      "
    ></ion-progress-bar>
  </ion-card-content>
  <ion-card-content
    *ngIf="
      this.userIndicators.effectiveVisits / this.userIndicators.totalVisits >=
      0.65
    "
  >
    Felicidades has alcanzado el objetivo diario!
  </ion-card-content>
</ion-card>
