ion-grid {
  margin: 0px;
  padding: 0px;
}
ion-col {
  margin: 0px;
  padding: 0px;
}
ion-row {
  text-align: center;
  justify-content: center;
}

.date-picker-container {
  background-image: linear-gradient(to bottom, #e22126, #9a0509);
  color: #ffffff !important;
}

.date-time-item {
  color: #ffffff;
}
