<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Indicadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Refresher of view-->
  <ion-refresher slot="fixed" (ionRefresh)="getUserData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offser-sm="3">
        <!--Header of indicators-->
        <ion-item text-center>
          <ion-label>{{this.userIndicators?.name}}</ion-label>
        </ion-item>

        <!--Date picker-->
        <div class="date-picker-container">
          <ion-item color="transparent">
            <ion-label> <span style="color: #ffffff"> Fecha:</span></ion-label>
            <ion-datetime
              class="date-time-item"
              [max]="this.maxDate.toISOString()"
              [(ngModel)]="this.filterDate"
              (ngModelChange)="this.onDateChange()"
            ></ion-datetime>
          </ion-item>
        </div>

        <!--Daily sales chart-->
        <app-daily-sales-chart
          [title]="'Ventas Diarias'"
          [sold]="this.userIndicators?.sales"
          [goal]="this.userBudget"
        ></app-daily-sales-chart>

        <!--Drop info chart-->
        <app-drop-info
          [title]="'Drop Actual'"
          [dropGoal]="this.dropGoal"
          [userIndicators]="this.userIndicators"
        ></app-drop-info>

        <!--Effective visit chart-->
        <app-effective-visit
          [title]="'Visita Efectiva'"
          [effectiveVisitGoal]="this.effectiveVisitGoal"
          [userIndicators]="this.userIndicators"
        ></app-effective-visit>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
