<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Indicadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getUserData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offser-sm="3">
        <ion-item>
          <ion-label>{{this.userIndicators?.name}}</ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-label>Fecha:</ion-label>
          <ion-datetime
            [max]="this.maxDate.toISOString()"
            [(ngModel)]="this.filterDate"
            (ngModelChange)="this.onDateChange()"
          ></ion-datetime>
        </ion-item>
        <app-daily-sales-chart
          [title]="'Ventas Diarias'"
          [sold]="this.userIndicators?.sales"
          [goal]="this.userBudget"
        ></app-daily-sales-chart>
        <app-drop-info
          [title]="'Drop Actual'"
          [dropGoal]="this.dropGoal"
          [totalSales]="this.userIndicators?.sales"
          [effectiveVisits]="this.userIndicators?.effectiveVisits"
        ></app-drop-info>
        <app-effective-visit
          [title]="'Visita Efectiva'"
          [effectiveVisitGoal]="this.effectiveVisitGoal"
          [effectiveVisits]="this.userIndicators?.effectiveVisits"
          [totalVisited]="this.userIndicators?.totalVisits"
        ></app-effective-visit>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
