// Styles for the tabs
.tabsEarnings {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  button {
    /* use width: 23% for 4 buttons, width: 18.2% for 5 buttons */
    width: 33%;
    font-size: 15px;
    height: 70px;
    background-color: #ffffff;
    color: #e22126;
    .tabIcon {
      /* margin-bottom controls the space between the icons and text */
      margin-bottom: 3px;
      font-size: 40px;
    }
  }
  //Style of the active tab selected
  .active-tab {
    background-color: #e22126;
    color: #ffffff;
    border-radius: 10px;
  }
}

// Style for daily earnigs section
.daily-earnings {
  width: 100%;
  height: 150px;
  border-radius: 0px 0px 165px 0px;
  background-image: linear-gradient(to bottom, #e22126, #9a0509);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f7;
  font-size: 65px;
}

.item-card {
  margin: 30px 30px 30px -4px;
  border: 4px solid #e22126;
  color: #5c5e65;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 50px 50px 0px;
  font-size: 25px;
}

.weekly-chart {
  margin: 40px 0px 0px 0px;
}

.weekly-indicators {
  margin: 15px 15px 0px 15px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.block {
  border: 4px solid;
  border-color: #e22126;
  margin: 2.5%;
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #5c5e65;
  border-radius: 10px 10px 40px 9px;
  .block-title {
    margin: 0px 5px;
    font-size: 20px;
  }
  .block-value {
    font-size: 35px;
    text-decoration: overline;
  }
}
