<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ConfitecApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-text">
    Bienvenido a <span id="confitecapp-text">ConfitecApp!</span>
  </div>
  <div class="welcome-body-text">
    Esta aplicación ha sido creada con la finalidad ayudar a la fuerza de ventas
    de nuestra familia <span id="confitecapp-text">CONFITECA</span> a mantener
    control de sus objetivos diarios.
  </div>
  <div class="welcome-body-text">
    Actualmente la aplicación está en etapa de desarrollo y pruebas, por lo que
    podría presentar algunos desperfectos, seguiremos mejorando la aplicación
    diariamente!
  </div>
  <div class="welcome-body-text">
    El éxito de esta herramienta depende de todos, ya que con un buen uso le
    sacaremos el máximo provecho y lograremos llevar alegría al alcance de
    todos!
  </div>
  <div>
    - Fabián Valencia (Analista IT)
  </div>
</ion-content>
