.welcome-text {
  margin: 25px;
  text-align: center;
  font-size: 23px;
  letter-spacing: -1px;
  word-spacing: 5px;
}

#confitecapp-text {
  color: #e22126;
}

.welcome-body-text {
  text-align: justify;
  padding: 20px;
  font-size: 18px;
}
