<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ConfitecApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{this.userCode }}</ion-label>
  </ion-item>
  <div>
    Bienvenid@ a ConfitecApp!
  </div>
  <div>
    Esta aplicación ha sido creada con la finalidad ayudar a todos los
    colaboradores de nuestra familia Confiteca a automatizar procesos internos.
    Actualmente la aplicación está en etapa de desarrollo y pruebas, por lo que
    podría presentar algunas fallas, seguiremos mejorando la aplicación
    diariamente!
  </div>
  <div>
    El éxito de esta herramienta depende de todos, ya que con un buen uso le
    sacaremos el máximo provecho!
  </div>
  <div>
    - Fabián Valencia (Analista IT)
  </div>
</ion-content>
