.welcome-text {
  margin: 25px;
  text-align: center;
  font-size: 23px;
  letter-spacing: -1px;
  word-spacing: 5px;
}

#confitecapp-text {
  color: #e22126;
  border: 3px solid;
  padding: 1px 10px;
  border-radius: 0px 15px;
}
#confiteca-text {
  color: #e22126;
}

.welcome-body-text {
  text-align: justify;
  padding: 0px 20px 40px 20px;
  font-size: 18px;
}
